/**
*	Primary Colors Interally
**/
$primary-purple: #6b6cded9;

/**
*	Primary Colors Public
**/

:root {
	--primary-purple: #6b6cded9;
	--color-concrete: #d0d0d0;
	--color-dark-grey: #1f1f1f;
	--color-facebook-blue: #1877f2;
	--color-slack-orange: #e9a820;
	--color-white: #ffff;
}
