/**
*	Primary Colors Public
**/

:root {
	--color-primary: rgb(208, 138, 255);
	--color-primary-light: rgba(208, 138, 255, 0.3);
	--color-secondary: rgb(250, 212, 20);
	--color-tertiary: rgb(244, 159, 10);
	--color-quartiary: rgb(240, 135, 0);
	
	--color-white: #ffffff;
	--color-gray-accent: rgb(247, 247, 247);
	--color-gray-lightest: rgb(240, 240, 240);
	--color-gray-lighter: rgb(225, 225, 225);
	--color-gray-light: rgb(210, 210, 210);
	--color-gray: rgb(159, 159, 159);
	--color-gray-dark: rgb(121, 121, 121);
	--color-gray-darker: rgb(80, 80, 80);
	--color-gray-darkest: rgb(30, 30, 30);
	--color-black: #000000;

	--color-state-danger: rgb(255, 103, 103);
	--color-state-danger-light: rgba(255, 103, 103, 0.3);
	--color-state-info: rgb(22, 183, 247);
	--color-state-info-light: rgba(104, 212, 255, 0.3);
	--color-state-success: rgb(24, 210, 14);
	--color-state-success-light: rgba(24, 210, 14, 0.3);
}

.u-theme--dark {
	--color-primary: rgb(208, 138, 255);
	--color-primary-light: rgba(208, 138, 255, 0.3);
	--color-secondary: rgb(250, 212, 20);
	--color-tertiary: rgb(244, 159, 10);
	--color-quartiary: rgb(240, 135, 0);
	
	--color-white: #000000;
	--color-gray-accent: rgb(20, 20, 20);
	--color-gray-lightest: rgb(40, 40, 40);
	--color-gray-lighter: rgb(80, 80, 80);
	--color-gray-light: rgb(120, 120, 120);
	--color-gray: rgb(159, 159, 159);
	--color-gray-dark: rgb(190, 190, 190);
	--color-gray-darker: rgb(220, 220, 220);
	--color-gray-darkest: rgb(247, 247, 247);
	--color-black: #ffffff;

	--color-state-danger: rgb(255, 103, 103);
	--color-state-danger-light: rgba(255, 103, 103, 0.3);
	--color-state-info: rgb(22, 183, 247);
	--color-state-info-light: rgba(104, 212, 255, 0.3);
	--color-state-success: rgb(24, 210, 14);
	--color-state-success-light: rgba(24, 210, 14, 0.3);
}
