/**
*	Primary Colors Public
**/

:root {
	--color-primary: rgb(208, 138, 255);
	--color-primary-light: rgba(208, 138, 255, 0.3);
	--color-white: #ffff;

	--color-gray-lightest: rgb(240, 240, 240);
	--color-gray-lighter: rgb(230, 230, 230);
	--color-gray-light: rgb(220, 220, 220);
	--color-gray: rgb(159, 159, 159);
	--color-gray-dark: rgb(121, 121, 121);
	--color-gray-darker: rgb(47, 47, 47);
	--color-gray-darkest: rgb(30, 30, 30);

	--color-state-danger: rgb(255, 103, 103);
	--color-state-danger-light: rgba(255, 103, 103, 0.3);
}
