body, #root {
	min-height: 100vh;
}

* {
	box-sizing: border-box;
}

.ReactModal__Overlay {
	background-color: rgba($color: #000000, $alpha: 0.5) !important;
}

.react-tooltip {
	padding: var(--spacer-sm) !important;
	border-radius: var(--border-radius-sm) !important;
}

:root {
	--rt-opacity: 1 !important;
}

.u-theme {
	background-color: var(--color-white);
	min-height: 100vh;
}
