.u-display-flex {
	display: flex;
	width: 100%;
}

.u-justify-content-end {
	justify-content: flex-end;
}

.u-margin-top-none {
    margin-top: 0;
}

.u-margin-top-lg {
    margin-top: var(--spacer-lg);
}

.u-margin-top {
    margin-top: var(--spacer);
}

.u-margin-top-sm {
    margin-top: var(--spacer-sm);
}

.u-margin-top-xs {
    margin-top: var(--spacer-xs);
}

.u-margin-top-xxxs {
    margin-top: var(--spacer-xxxs);
}

.u-margin-bottom-none {
    margin-bottom: 0;
}

.u-margin-bottom-lg {
    margin-bottom: var(--spacer-lg);
}

.u-margin-bottom-xl {
    margin-bottom: var(--spacer-xl);
}

.u-margin-bottom {
    margin-bottom: var(--spacer);
}

.u-margin-bottom-sm {
    margin-bottom: var(--spacer-sm);
}

.u-margin-bottom-xs {
    margin-bottom: var(--spacer-xs);
}

.u-margin-bottom-xxxs {
    margin-bottom: var(--spacer-xxxs);
}

.u-margin-left-none {
    margin-left: 0;
}

.u-margin-left-auto {
    margin-left: auto;
}

.u-margin-left-lg {
    margin-left: var(--spacer-lg);
}

.u-margin-left {
    margin-left: var(--spacer);
}

.u-margin-left-sm {
    margin-left: var(--spacer-sm);
}

.u-margin-left-xs {
    margin-left: var(--spacer-xs);
}

.u-margin-right-none {
    margin-right: 0;
}

.u-margin-right-lg {
    margin-right: var(--spacer-lg);
}

.u-margin-right {
    margin-right: var(--spacer);
}

.u-margin-right-sm {
    margin-right: var(--spacer-sm);
}

.u-margin-right-xs {
    margin-right: var(--spacer-xs);
}





.u-padding-top-lg {
    padding-top: var(--spacer-lg);
}

.u-padding-top {
    padding-top: var(--spacer);
}

.u-padding-top-sm {
    padding-top: var(--spacer-sm);
}

.u-padding-top-xs {
    padding-top: var(--spacer-xs);
}

.u-padding-bottom-lg {
    padding-bottom: var(--spacer-lg);
}

.u-padding-bottom {
    padding-bottom: var(--spacer);
}

.u-padding-bottom-sm {
    padding-bottom: var(--spacer-sm);
}

.u-padding-bottom-xs {
    padding-bottom: var(--spacer-xs);
}

.u-padding-left-lg {
    padding-left: var(--spacer-lg);
}

.u-padding-left {
    padding-left: var(--spacer);
}

.u-padding-left-sm {
    padding-left: var(--spacer-sm);
}

.u-padding-left-xs {
    padding-left: var(--spacer-xs);
}

.u-padding-right-lg {
    padding-right: var(--spacer-lg);
}

.u-padding-right {
    padding-right: var(--spacer);
}

.u-padding-right-sm {
    padding-right: var(--spacer-sm);
}

.u-padding-right-xs {
    padding-right: var(--spacer-xs);
}
