@use '../tools' as tools;
@use "sass:math";

// =============================================================================
// Public spacers
// =============================================================================
:root {
	--spacer: 1rem;
	--spacer-xxxs: #{calc(math.div(var(--spacer), 4))};
	--spacer-xxs: #{calc(math.div(var(--spacer), 3))};
	--spacer-xs: #{calc(math.div(var(--spacer), 2))};
	--spacer-sm: #{calc(math.div(var(--spacer), 1.5))};
	--spacer-lg: #{calc(var(--spacer) * 1.5)};
	--spacer-xl: #{calc(var(--spacer) * 2)};
	--spacer-xxl: #{calc(var(--spacer) * 3)};
	--spacer-xxxl: #{calc(var(--spacer) * 4)};

	--grid-gap: #{tools.rem(32px)};
	--max-width: #{tools.rem(1920px)};

	// @include tools.to('lg') {
	// 	--spacer-xxl: #{tools.rem(180px)};
	// }

	@include tools.to('md') {
		--spacer: 0.75rem;
	}
}
