@use '../tools' as tools;

:root {
	--font-size-h1: #{tools.rem(70px)};
	--font-size-p: #{tools.rem(16px)};
	--font-size-small: #{tools.rem(14px)};
	--font-w-button: #{tools.rem(700)};
}

h1,
.heading-1 {
	font-size: var(--font-s-h1);
}

p,
.paragraph {
	font-size: var(--font-s-p);
}

button,
.button {
	font-size: var(--font-s-p);
	font-weight: var(--font-w-button);
	text-transform: uppercase;
}

body, html {
	font-family: 'Cera Pro';
}

.u-text--success {
	color: var(--color-state-success);
}

.u-text--danger {
	color: var(--color-state-danger);
}

.u-text--light {
	color: var(--color-gray-light);
}
