@use '/src/assets/scss/tools' as tools;

.p-login {
	display: grid;
	grid-template-columns: tools.rem(500px) auto;
	height: calc(100vh - var(--spacer-lg) * 2);
	gap: var(--spacer);

	@include tools.to('md') {
		grid-template-columns: auto;
	}

	&__content {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		padding: 0 var(--spacer-xl) 0 0;
		flex-direction: column;
		position: relative;

		@include tools.to('md') {
			padding: 0;
		}
	}

	&__form {
		width: 100%;
		margin-top: var(--spacer-lg);
		padding-top: var(--spacer-lg);
	}

	&__button {
		width: 100%;
		margin-top: var(--spacer-lg);
		border-top: 1px solid var(--color-gray-lightest);
		padding-top: var(--spacer-lg);
	}

	&__logo {
		width: 150px;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__aside {
		width: 100%;
		background-size: cover;
		background-position: center center;
		border-radius: var(--border-radius-md);

		@include tools.to('md') {
			display: none;
		}
	}
}
