@use '/src/assets/scss/tools' as tools;

.o-authenticated-view {
	height: 100%;
	display: grid;
	grid-template-columns: tools.rem(350px) auto;

	@include tools.to('md') {
		grid-template-columns: tools.rem(60px) auto;
	}

	&__menu {}

	&__content {
		padding: var(--spacer-lg);
		// background-color: var(--color-gray-accent);
		min-width: 0;
		display: flex;
		flex-direction: column;
	}
}
